<h1>
    Sign in with Facebook or Google
</h1>
<br/>
<div>

<button class="btn btn-primary" type="button" (click)="socialSignIn('facebook')"><span><img src="../../assets/fb.jpg" class="rounded-circle" style="max-width: 30px;max-height: 20px" alt="Facebook SignUp"></span>SignUp</button>
<button class="btn btn-primary" type="button" (click)="socialSignIn('google')"><span><img src="../../assets/google.jpg" class="rounded-circle" style="max-width: 30px;max-height: 30px" alt="Google SignUp"></span>SignUp</button> 
</div>