<div class="row">
  <div class="col-12">
    <form (ngSubmit)="OnAddItem(form)" #form="ngForm">
      <div class="row">
      <div class="col-5 form-group">
      <label for="name">Name</label>
      <input 
      type="text" 
      id="name" 
      class="form-control"
      name="name"
      ngModel 
      required
      #name="ngModel"
      >
      </div>
      <div class="col-2 form-group">
          <label for="amount">Amount</label>
          <input 
          type="number"
          min="1" 
          id="amount" 
          class="form-control"
          ngModel
          name="amount"
          required
          pattern="^[1-9]+[0-9]*$">
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <button [disabled]="!(form.valid)" class="btn btn-success" type="submit">{{editMode ? 'Update' : 'Add'}}</button>
        &nbsp;
        <button *ngIf="editMode" class="btn btn-danger" type="button" (click)="onDelete()">Delete</button>
        &nbsp;
        <button class="btn btn-primary" type="button" (click)="onClear()">Clear</button>
      </div>
    </div>
  </form>
  </div>
</div>